
html, body {
	height: 100%;
	margin: 0;
	font-family: "Montserrat", sans-serif;
}
section {
	width: 100%;
	height: 100%;
}
span {
	display: block;
}


/* Sect. Landing */
.landing {
	background-image: url("../images/landingLrg.jpg");
	background-size: cover;
	background-position: 0% 50%;
	background-attachment: fixed;
}
.lWrap {
	width: 100%;
	height: 100%;
	background-color: rgba(38, 38, 38, 0.92);
	animation: lWrapLoad 4s ease-in-out;
}
@keyframes lWrapLoad {
	0% {
		background-color: rgba(38, 38, 38, 1);
	}
	70% {
		background-color: rgba(38, 38, 38, 1);
	}
}
.landing h2 {
	display: inline-block;
	position: relative;
	float: right;
	top: 66%;
	right: 30px;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	color: white;
	font-size: 240%;
	font-weight: 800;
	text-transform: uppercase;
	line-height: 0.85;
	animation: h2Load 4s ease-out;
}
.pow {
	color: #a83519;
}
@keyframes h2Load {
	0% {
		opacity: 0;
		right: 30px;
	}
	79% {
		opacity: 0;
		right: 30px;
	}
	80% {
		opacity: 0;
		right: 0px;
	}
	100% {
		opacity: 1;
		right: 30px;
	}
}


/*** Home ***/
.home {
	position: fixed;
	top: 30px;
	left: 30px;
	z-index: 1;
	transition: all .3s ease-in-out;
	animation: homeLoad 3s linear;
}
.home.scrolled {
	top: 15px;
	left: 30px;
}
.landing h1 {
	color: #a83519;
	text-transform: uppercase;
	line-height: 0.9;
	margin: 0;
	text-align: center;
}
.fName {
	font-size: 17.5px;
	padding: 0 0 0 3px;
	font-weight: 500;
}
.fName.scrolled {
	padding: 0;
}
.fOut {
	display: inline;
	transition: all .3s ease-in-out;
	animation: fNameLoad 3s ease-in-out;
}
.fOut.scrolled {
	font-size: 19px;
	letter-spacing: -2px;
	height: 20px;
}
.fMid {
	display: inline;
	animation: fNameLoad 3s ease-in-out;
	transition: all .3s ease-in-out;
}
.fMid.scrolled {
	font-size: 0px;
	opacity: 0;
}
.line {
	width: 0px;
	height: 0px;
	background-color: white;
	opacity: 0;
	transition: all .3s ease-in-out;
}
.line.scrolled {
	width: 100%;
	height: 1px;
	opacity: 0.3; 
}
.jTitle {
	font-family: "Poiret One", cursive;
	font-size: 9.3px;
	padding: 0 0 0 2px;
	color: white;
	text-transform: capitalize;
	transition: all .3s ease-in-out;
	animation: jTitleLoad 3s ease-in-out;
}
.jTitle.scrolled {
	font-size: 0px;
	opacity: 0;
}
.lName {
	font-size: 30px;
	letter-spacing: -2px;
}
.lName.scrolled {
	line-height: 0.3;
}
.lOut {
	display: inline;
	transition: all .3s ease-in-out;
	animation: lNameLoad 3s ease-in-out;
}
.lOut.scrolled {
	font-size: 17.5px;
	font-weight: 500;
}
.lMid {
	display: inline;
	animation: lNameLoad 3s ease-in-out;
	transition: all .3s ease-in-out
}
.lMid.scrolled {
	font-size: 0px;
	opacity: 0;
}
.deltaXi {
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	display: inline;
	color: #424242;
}
@keyframes homeLoad {
	0% {
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
	}
	92% {
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
	}
	100% {
		top: 30px;
		left: 30px;
	}
}
@keyframes fNameLoad {
	0% {
		opacity: 0;
		font-size: 35.5px;
	}
	40% {opacity: 1;}
	92% {font-size: 35.5px;}
	100% {font-size: 17.5px;}
}
@keyframes jTitleLoad {
	0% {
		opacity: 0;
		font-size: 0px;
	}
	40% {
		opacity: 0;
		font-size: 0px;
	}
	75% {
		opacity: 1;
		font-size: 18px;
	}
	92% {font-size: 18px;}
	100% {font-size: 9.3px;}
}
@keyframes lNameLoad {
	0% {
		opacity: 0;
		font-size: 60px;
	}
	20% {opacity: 0;}
	60% {opacity: 1;}
	92% {font-size: 60px;}
	100% {font-size: 30px;}
}


/*** Nav ***/
.header {
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	transition: background-color .2s ease-in-out;
}
.header.scrolled {
	background-color: rgba(38, 38, 38, 0.9);
}
.nav {
	text-align: right;
	padding: 0 15px 0 0;
	visibility: hidden;
	animation: navLoad 4s ease-in-out;
}
.container {
	display: inline-block;
	position: relative;
	margin: 30px 0px;
	transition: margin .3s ease-in-out;
}
.container.scrolled {
	margin: 20px 0px;
}
a {
	text-decoration: none;
	text-transform: uppercase;
	color: #a83519;
	font-size: 80%;
	font-weight: 500;
}
a::after {
	position: absolute;
	top: 130%;
	left: 50%;
	width: 0.001px;
	height: 1px;
	content: "";
	background-color: white;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	transition: all .15s ease-in-out;
}
a:hover::after {
	width: 100%;
}
@keyframes navLoad {
	0% {
		opacity: 0;
	}
	85% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}


/*** GoodBurger ***/
.goodBurger {
	position: fixed;
	top: 35px;
	right: 35px;
	height: 26px;
	width: 30px;
}
.goodBurger span {
	position: absolute;
	height: 2px;
	width: 100%;
	background-color: #a83519;
	left: 0;
	z-index: 3;
	transition: all 2s ease-in-out;
}
.goodBurger span:nth-child(1) {
	top: 0px;
}
.goodBurger span:nth-child(2), .goodBurger span:nth-child(3) {
	top: 12px;
}
.goodBurger span:nth-child(4) {
	top: 24px;
}
.goodBurger.open span:nth-child(1), .goodBurger.open span:nth-child(4) {
	top: 12px;
	width: 0px;
	left: 50%;
}
.goodBurger.open span:nth-child(2) {
	transform: rotate(-45deg);
}
.goodBurger.open span:nth-child(3) {
	transform: rotate(45deg);
}
@media only screen and (min-width: 475px) {
	.landing h2 {
		right: 33%;
		-webkit-transform: translate(50%, -50%);
		transform: translate(50%, -50%);
	}
		@keyframes h2Load {
		0% {
			opacity: 0;
			right: 33%;
		}
		79% {
			opacity: 0;
			right: 33%;
		}
		80% {
			opacity: 0;
			right: 20%;
		}
		100% {
			opacity: 1;
			right: 33%;
		}
	}
}
@media only screen and (min-width: 550px) {
	.nav {
		visibility: visible;
	}
	.container {
		margin: 30px 15px;
	}
	.container.scrolled {
		margin: 20px 15px;
	}
}